* {
  font-family: 'Host Grotesk', 'Instrument Sans', system-ui;
}

:root {
  font-size: 16px;
  color: #fff;
  background-color: #030908;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.titlebar {
  height: 50px;
  background: #030908;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar-buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  opacity: 80%;
  user-select: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.titlebar-button:hover {
  opacity: 100%;
  transform: scale(1.1);
}

.echoir-logo {
  pointer-events: none;
}

.search-bar-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  display: inline-block;
}

.search-container {
  display: flex;
  flex-direction: row;
  gap: 9px
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.search-bar-titlebar {
  width: 400px;
  border: none;
  background-color: #121717;
  font-size: 14px;
  color: white;
  padding: 9px 12px 9px 48px;
  border-radius: 12px;
  outline: none;
  box-shadow: inset 0 -2px 0 0 transparent;
}

input.search-bar-titlebar:focus {
  box-shadow: inset 0 -2px 0 0 #16A085;
  animation: slide-border 0.25s ease-in-out forwards;
}

input.search-bar-titlebar:not(:focus) {
  box-shadow: inset 0 -2px 0 0 transparent;
  animation: slide-border-out 0.25s ease-in-out forwards; 
}

@keyframes slide-border {
  0% {
    box-shadow: inset 0 -2px 0 0 transparent;
  }
  100% {
    box-shadow: inset 0 -2px 0 0 #16A085;
  }
}

@keyframes slide-border-out {
  0% {
    box-shadow: inset 0 -2px 0 0 #16A085;
  }
  100% {
    box-shadow: inset 0 -2px 0 0 transparent;
  }
}

.container {
  margin-top: 75px;
  padding: 5px;
}

.search-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.button-inbox, .button-starred {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121717;
  width: 36px;
  height: 36px;
}

.button-starred {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.button-inbox {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.starred-icon, .inbox-icon {
  width: 19px;
  height: 19px;
}