@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    font-family: "Host Grotesk", "Instrument Sans", system-ui;
}

*::-webkit-scrollbar {
    @apply w-2;
}

*::-webkit-scrollbar-thumb {
    @apply bg-layer rounded-full w-2;
}

:root {
    @apply bg-bg text-white;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}